h1 {
    margin-left: 0.5em;
}

.home-container {
    display: flex;
    border: 3px solid black;
    border-radius: 4px;
    background: rgb(242, 243, 245)
}

.home-text {
    width: 50%;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5em;
}

.home-img {
    width: 50%;
    object-fit: cover;

}

li {
    margin-bottom: 1em;
}

.profile-card {
    display: flex;
    justify-content: center;
}