ul.lst-kix_t4tn5b16lrw0-8 {
  list-style-type: none
}

.lst-kix_jbu6spp2qoiv-0>li:before {
  content: "\0025cf  "
}

.lst-kix_jbu6spp2qoiv-1>li:before {
  content: "\0025cb  "
}

ul.lst-kix_t4tn5b16lrw0-6 {
  list-style-type: none
}

ul.lst-kix_t4tn5b16lrw0-7 {
  list-style-type: none
}

ul.lst-kix_t4tn5b16lrw0-0 {
  list-style-type: none
}

.lst-kix_56drlptlen3y-0>li:before {
  content: "\0025cf  "
}

ul.lst-kix_t4tn5b16lrw0-1 {
  list-style-type: none
}

ul.lst-kix_t4tn5b16lrw0-4 {
  list-style-type: none
}

ul.lst-kix_aup8rrb88irk-6 {
  list-style-type: none
}

ul.lst-kix_t4tn5b16lrw0-5 {
  list-style-type: none
}

ul.lst-kix_aup8rrb88irk-5 {
  list-style-type: none
}

ul.lst-kix_t4tn5b16lrw0-2 {
  list-style-type: none
}

.lst-kix_56drlptlen3y-1>li:before {
  content: "\0025cb  "
}

ul.lst-kix_aup8rrb88irk-8 {
  list-style-type: none
}

ul.lst-kix_t4tn5b16lrw0-3 {
  list-style-type: none
}

ul.lst-kix_aup8rrb88irk-7 {
  list-style-type: none
}

.lst-kix_iq43tfebhg98-2>li:before {
  content: "\0025a0  "
}

.lst-kix_iq43tfebhg98-0>li:before {
  content: "\0025cf  "
}

.lst-kix_iq43tfebhg98-1>li:before {
  content: "\0025cb  "
}

.lst-kix_iq43tfebhg98-6>li:before {
  content: "\0025cf  "
}

ul.lst-kix_dp4o7nmr5n2p-8 {
  list-style-type: none
}

ul.lst-kix_dp4o7nmr5n2p-7 {
  list-style-type: none
}

.lst-kix_iq43tfebhg98-3>li:before {
  content: "\0025cf  "
}

.lst-kix_iq43tfebhg98-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_aup8rrb88irk-2 {
  list-style-type: none
}

ul.lst-kix_aup8rrb88irk-1 {
  list-style-type: none
}

ul.lst-kix_aup8rrb88irk-4 {
  list-style-type: none
}

ul.lst-kix_aup8rrb88irk-3 {
  list-style-type: none
}

.lst-kix_iq43tfebhg98-4>li:before {
  content: "\0025cb  "
}

.lst-kix_iq43tfebhg98-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_aup8rrb88irk-0 {
  list-style-type: none
}

.lst-kix_iq43tfebhg98-8>li:before {
  content: "\0025a0  "
}

.lst-kix_l70p0353mfv9-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_iq43tfebhg98-3 {
  list-style-type: none
}

.lst-kix_l70p0353mfv9-6>li:before {
  content: "\0025cf  "
}

ul.lst-kix_iq43tfebhg98-4 {
  list-style-type: none
}

.lst-kix_dp4o7nmr5n2p-5>li:before {
  content: "\0025a0  "
}

.lst-kix_dp4o7nmr5n2p-6>li:before {
  content: "\0025cf  "
}

ul.lst-kix_iq43tfebhg98-1 {
  list-style-type: none
}

ul.lst-kix_iq43tfebhg98-2 {
  list-style-type: none
}

.lst-kix_l70p0353mfv9-4>li:before {
  content: "\0025cb  "
}

ul.lst-kix_iq43tfebhg98-0 {
  list-style-type: none
}

.lst-kix_dp4o7nmr5n2p-3>li:before {
  content: "\0025cf  "
}

.lst-kix_dp4o7nmr5n2p-4>li:before {
  content: "\0025cb  "
}

.lst-kix_dp4o7nmr5n2p-7>li:before {
  content: "\0025cb  "
}

.lst-kix_dp4o7nmr5n2p-8>li:before {
  content: "\0025a0  "
}

.lst-kix_l70p0353mfv9-5>li:before {
  content: "\0025a0  "
}

.lst-kix_l70p0353mfv9-2>li:before {
  content: "\0025a0  "
}

.lst-kix_93iip33rvx7z-8>li:before {
  content: "\0025a0  "
}

.lst-kix_dp4o7nmr5n2p-1>li:before {
  content: "\0025cb  "
}

.lst-kix_dp4o7nmr5n2p-2>li:before {
  content: "\0025a0  "
}

ul.lst-kix_iq43tfebhg98-7 {
  list-style-type: none
}

ul.lst-kix_iq43tfebhg98-8 {
  list-style-type: none
}

ul.lst-kix_iq43tfebhg98-5 {
  list-style-type: none
}

.lst-kix_l70p0353mfv9-3>li:before {
  content: "\0025cf  "
}

ul.lst-kix_iq43tfebhg98-6 {
  list-style-type: none
}

.lst-kix_93iip33rvx7z-4>li:before {
  content: "\0025cb  "
}

.lst-kix_l70p0353mfv9-0>li:before {
  content: "\0025cf  "
}

.lst-kix_l70p0353mfv9-1>li:before {
  content: "\0025cb  "
}

.lst-kix_93iip33rvx7z-3>li:before {
  content: "\0025cf  "
}

.lst-kix_93iip33rvx7z-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_dp4o7nmr5n2p-0 {
  list-style-type: none
}

ul.lst-kix_dp4o7nmr5n2p-2 {
  list-style-type: none
}

ul.lst-kix_dp4o7nmr5n2p-1 {
  list-style-type: none
}

.lst-kix_93iip33rvx7z-6>li:before {
  content: "\0025cf  "
}

ul.lst-kix_dp4o7nmr5n2p-4 {
  list-style-type: none
}

ul.lst-kix_dp4o7nmr5n2p-3 {
  list-style-type: none
}

.lst-kix_93iip33rvx7z-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_dp4o7nmr5n2p-6 {
  list-style-type: none
}

ul.lst-kix_dp4o7nmr5n2p-5 {
  list-style-type: none
}

.lst-kix_93iip33rvx7z-0>li:before {
  content: "\0025cf  "
}

.lst-kix_93iip33rvx7z-2>li:before {
  content: "\0025a0  "
}

.lst-kix_93iip33rvx7z-1>li:before {
  content: "\0025cb  "
}

.lst-kix_6zpk5f9mxff7-4>li:before {
  content: "\0025cb  "
}

ul.lst-kix_56drlptlen3y-7 {
  list-style-type: none
}

ul.lst-kix_56drlptlen3y-8 {
  list-style-type: none
}

.lst-kix_6zpk5f9mxff7-3>li:before {
  content: "\0025cf  "
}

.lst-kix_6zpk5f9mxff7-5>li:before {
  content: "\0025a0  "
}

.lst-kix_6zpk5f9mxff7-2>li:before {
  content: "\0025a0  "
}

.lst-kix_6zpk5f9mxff7-6>li:before {
  content: "\0025cf  "
}

ul.lst-kix_jbu6spp2qoiv-5 {
  list-style-type: none
}

.lst-kix_aup8rrb88irk-4>li:before {
  content: "\0025cb  "
}

ul.lst-kix_jbu6spp2qoiv-4 {
  list-style-type: none
}

ul.lst-kix_jbu6spp2qoiv-3 {
  list-style-type: none
}

.lst-kix_c3t0ecd6gti3-0>li:before {
  content: "\0025cf  "
}

.lst-kix_c3t0ecd6gti3-2>li:before {
  content: "\0025cf  "
}

ul.lst-kix_jbu6spp2qoiv-2 {
  list-style-type: none
}

ul.lst-kix_c3t0ecd6gti3-6 {
  list-style-type: none
}

ul.lst-kix_jbu6spp2qoiv-1 {
  list-style-type: none
}

ul.lst-kix_c3t0ecd6gti3-7 {
  list-style-type: none
}

.lst-kix_aup8rrb88irk-5>li:before {
  content: "\0025a0  "
}

.lst-kix_aup8rrb88irk-6>li:before {
  content: "\0025cf  "
}

ul.lst-kix_jbu6spp2qoiv-0 {
  list-style-type: none
}

ul.lst-kix_c3t0ecd6gti3-8 {
  list-style-type: none
}

.lst-kix_c3t0ecd6gti3-1>li:before {
  content: "\0025cf  "
}

.lst-kix_c3t0ecd6gti3-5>li:before {
  content: "\0025cf  "
}

ul.lst-kix_c3t0ecd6gti3-2 {
  list-style-type: none
}

.lst-kix_6zpk5f9mxff7-0>li:before {
  content: "\0025cf  "
}

ul.lst-kix_c3t0ecd6gti3-3 {
  list-style-type: none
}

.lst-kix_aup8rrb88irk-7>li:before {
  content: "\0025cb  "
}

.lst-kix_aup8rrb88irk-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_c3t0ecd6gti3-4 {
  list-style-type: none
}

.lst-kix_6zpk5f9mxff7-1>li:before {
  content: "\0025cb  "
}

.lst-kix_c3t0ecd6gti3-4>li:before {
  content: "\0025cf  "
}

ul.lst-kix_c3t0ecd6gti3-5 {
  list-style-type: none
}

ul.lst-kix_jbu6spp2qoiv-8 {
  list-style-type: none
}

ul.lst-kix_c3t0ecd6gti3-0 {
  list-style-type: none
}

ul.lst-kix_jbu6spp2qoiv-7 {
  list-style-type: none
}

ul.lst-kix_c3t0ecd6gti3-1 {
  list-style-type: none
}

.lst-kix_c3t0ecd6gti3-3>li:before {
  content: "\0025cf  "
}

ul.lst-kix_jbu6spp2qoiv-6 {
  list-style-type: none
}

ul.lst-kix_l70p0353mfv9-5 {
  list-style-type: none
}

ul.lst-kix_l70p0353mfv9-6 {
  list-style-type: none
}

ul.lst-kix_l70p0353mfv9-7 {
  list-style-type: none
}

ul.lst-kix_l70p0353mfv9-8 {
  list-style-type: none
}

ul.lst-kix_l70p0353mfv9-1 {
  list-style-type: none
}

ul.lst-kix_l70p0353mfv9-2 {
  list-style-type: none
}

.lst-kix_t4tn5b16lrw0-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_l70p0353mfv9-3 {
  list-style-type: none
}

ul.lst-kix_l70p0353mfv9-4 {
  list-style-type: none
}

.lst-kix_t4tn5b16lrw0-6>li:before {
  content: "\0025cf  "
}

.lst-kix_t4tn5b16lrw0-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_l70p0353mfv9-0 {
  list-style-type: none
}

.lst-kix_t4tn5b16lrw0-8>li:before {
  content: "\0025a0  "
}

.lst-kix_aup8rrb88irk-3>li:before {
  content: "\0025cf  "
}

ul.lst-kix_6zpk5f9mxff7-8 {
  list-style-type: none
}

.lst-kix_aup8rrb88irk-2>li:before {
  content: "\0025a0  "
}

.lst-kix_dp4o7nmr5n2p-0>li:before {
  content: "\0025cf  "
}

ul.lst-kix_6zpk5f9mxff7-6 {
  list-style-type: none
}

ul.lst-kix_93iip33rvx7z-8 {
  list-style-type: none
}

ul.lst-kix_6zpk5f9mxff7-7 {
  list-style-type: none
}

ul.lst-kix_6zpk5f9mxff7-4 {
  list-style-type: none
}

ul.lst-kix_93iip33rvx7z-6 {
  list-style-type: none
}

.lst-kix_aup8rrb88irk-0>li:before {
  content: "\0025cf  "
}

ul.lst-kix_6zpk5f9mxff7-5 {
  list-style-type: none
}

ul.lst-kix_93iip33rvx7z-7 {
  list-style-type: none
}

ul.lst-kix_56drlptlen3y-0 {
  list-style-type: none
}

ul.lst-kix_6zpk5f9mxff7-2 {
  list-style-type: none
}

ul.lst-kix_93iip33rvx7z-4 {
  list-style-type: none
}

ul.lst-kix_56drlptlen3y-1 {
  list-style-type: none
}

.lst-kix_aup8rrb88irk-1>li:before {
  content: "\0025cb  "
}

ul.lst-kix_6zpk5f9mxff7-3 {
  list-style-type: none
}

.lst-kix_6zpk5f9mxff7-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_93iip33rvx7z-5 {
  list-style-type: none
}

ul.lst-kix_56drlptlen3y-2 {
  list-style-type: none
}

ul.lst-kix_6zpk5f9mxff7-0 {
  list-style-type: none
}

ul.lst-kix_93iip33rvx7z-2 {
  list-style-type: none
}

ul.lst-kix_56drlptlen3y-3 {
  list-style-type: none
}

ul.lst-kix_6zpk5f9mxff7-1 {
  list-style-type: none
}

ul.lst-kix_93iip33rvx7z-3 {
  list-style-type: none
}

ul.lst-kix_56drlptlen3y-4 {
  list-style-type: none
}

ul.lst-kix_93iip33rvx7z-0 {
  list-style-type: none
}

ul.lst-kix_56drlptlen3y-5 {
  list-style-type: none
}

.lst-kix_6zpk5f9mxff7-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_93iip33rvx7z-1 {
  list-style-type: none
}

ul.lst-kix_56drlptlen3y-6 {
  list-style-type: none
}

.lst-kix_l70p0353mfv9-8>li:before {
  content: "\0025a0  "
}

.lst-kix_t4tn5b16lrw0-4>li:before {
  content: "\0025cb  "
}

.lst-kix_56drlptlen3y-8>li:before {
  content: "\0025a0  "
}

.lst-kix_t4tn5b16lrw0-2>li:before {
  content: "\0025a0  "
}

.lst-kix_t4tn5b16lrw0-3>li:before {
  content: "\0025cf  "
}

.lst-kix_c3t0ecd6gti3-8>li:before {
  content: "\0025cf  "
}

.lst-kix_t4tn5b16lrw0-1>li:before {
  content: "\0025cb  "
}

.lst-kix_56drlptlen3y-5>li:before {
  content: "\0025a0  "
}

.lst-kix_56drlptlen3y-4>li:before {
  content: "\0025cb  "
}

.lst-kix_jbu6spp2qoiv-8>li:before {
  content: "\0025a0  "
}

.lst-kix_c3t0ecd6gti3-6>li:before {
  content: "\0025cf  "
}

.lst-kix_56drlptlen3y-2>li:before {
  content: "\0025a0  "
}

.lst-kix_t4tn5b16lrw0-0>li:before {
  content: "\0025cf  "
}

li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt
}

.lst-kix_56drlptlen3y-3>li:before {
  content: "\0025cf  "
}

.lst-kix_c3t0ecd6gti3-7>li:before {
  content: "\0025cf  "
}

.lst-kix_jbu6spp2qoiv-4>li:before {
  content: "\0025cb  "
}

.lst-kix_jbu6spp2qoiv-5>li:before {
  content: "\0025a0  "
}

.lst-kix_jbu6spp2qoiv-2>li:before {
  content: "\0025a0  "
}

.lst-kix_jbu6spp2qoiv-3>li:before {
  content: "\0025cf  "
}

.lst-kix_jbu6spp2qoiv-6>li:before {
  content: "\0025cf  "
}

.lst-kix_jbu6spp2qoiv-7>li:before {
  content: "\0025cb  "
}

.lst-kix_56drlptlen3y-6>li:before {
  content: "\0025cf  "
}

.lst-kix_56drlptlen3y-7>li:before {
  content: "\0025cb  "
}

ol {
  margin: 0;
  padding: 0
}

table td,
table th {
  padding: 0
}

.c5 {
  color: #9e9a9a;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Times New Roman";
  font-style: normal
}

.c3 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  font-family: "Times New Roman";
  font-style: normal
}

.c0 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c20 {
  color: #9e9a9a;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Times New Roman"
}

.c16 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center
}

.c18 {
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline;
  text-decoration-skip-ink: none
}

.c7 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal
}

.c17 {
  background-color: #ffffff;
  max-width: 468pt;
  padding: 72pt 72pt 72pt 72pt
}

.c8 {
  font-size: 11.5pt;
  font-family: "Times New Roman";
  font-weight: 700
}

.c14 {
  font-weight: 400;
  font-size: 10pt;
  font-family: "Times New Roman"
}

.c19 {
  font-weight: 700;
  font-size: 16pt;
  font-family: "Times New Roman"
}

.c13 {
  font-size: 13pt;
  font-family: "Times New Roman";
  font-weight: 400
}

.c21 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline
}

.c2 {
  font-size: 11.5pt;
  font-family: "Times New Roman";
  font-weight: 400
}

.c12 {
  font-weight: 700;
  font-size: 13pt;
  font-family: "Times New Roman"
}

.c11 {
  padding: 0;
  margin: 0
}

.c4 {
  margin-left: 36pt;
  padding-left: 0pt
}

.c9 {
  color: inherit;
  text-decoration: inherit
}

.c10 {
  margin-left: 36pt
}

.c15 {
  font-style: italic
}

.c1 {
  height: 11pt
}

.c6 {
  margin-left: 72pt
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}